@model StoreManager.Models.Products

@{
    ViewData["Title"] = "Cadastro de Produtos";
}

<form class="form" id="form" asp-controller="Products" asp-action="Add" method="POST">
    <label for="Name">Name: </label>
    <input type="text" id="Name" name="Name" asp-for="@Model.Name">
    <span asp-validation-for="@Model.Name" class="text-danger"></span>

    <label for="Description">Descrição: </label>
    <input type="text" id="Description" name="Description" asp-for="@Model.Description">
    <span asp-validation-for="@Model.Description" class="text-danger"></span>

    <label for="Price">Preço: </label>
    <input type="number" id="Price" name="Price" asp-for="@Model.Price">
    <span asp-validation-for="@Model.Price" class="text-danger"></span>

    <input type="submit" value="Cadastrar">
</form>