@model StoreManager.Models.Providers
@{
    ViewData["Title"] = $"Fornecedores {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id: </b>@Model.Id</p>
<p><b>Nome: </b>@Model.Name</p>
<p><b>E-mail: </b>@Model.Email</p>
<p><b>Número: </b>@Model.Number</p>
