@model StoreManager.Models.Providers
@{
    ViewData["Title"] = "Atualizar Fornecedores";
}
<h1>@ViewData["Title"]</h1>

<form class="form" asp-controller="Providers" asp-action="Update" asp-route-id="@Model.Id" method="POST">    
    <label for="Name">Nome: </label>
    <input type="text" id="Name" name="Name" asp-for="@Model.Name">
    <span asp-validation-for="@Model.Name" class="text-danger"></span>

    <label for="Email">E-mail: </label>
    <input type="email" id="Email" name="Email" asp-for="@Model.Email">
    <span asp-validation-for="@Model.Email" class="text-danger"></span>

    <label for="Number">Número: </label>
    <input type="text" id="Number" name="Number" asp-for="@Model.Number">
    <span asp-validation-for="@Model.Number" class="text-Number"></span>

    <input class="submit" type="submit" value="Atualizar">
</form>